.Button{
    background-color: rgb(89, 89, 89);
    width: 300px;
    font-size: xx-large;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    font-weight: 700;
    text-shadow: 1px 1px 3px black;
    color: silver;
    border: none;
    box-shadow: 0 0 8px #000000;;
}
.disabe{
    opacity: 0.3;
}
@media screen  and   (min-width:577px ) and (max-width:996px ){
    .Button{
        padding: 10px 15px;
        font-size: large;
    }
}
@media screen and (max-width:576px){
    .Button{
        margin-top: 3%;
        background-color: rgb(133, 134, 136);
        width: 93px;
        justify-content: space-between;
        font-size: medium;
        padding: 5px 7px 5px 7px;
        border-radius: 10px;
        font-weight: 600;
        color: silver;
    }
    }
