
.column{
    padding-top: 17%;
    width: 70%;
    margin-left: 150px;
}

.content-body>.input{
    width: 100%;
    background-color: white;
    border: none;
    box-shadow: 0 0 12px black;
    border-radius: 10px;
    height: 6rem;
    font-size: 30px;
}
.content-body>.input:focus{
    border: none;
    outline:none ;
}
.content-body>.spandata>.data1{
    opacity: 1;
        width: 100%;
        margin:0 auto;
        font-size: large;
        height: 20%;
    color: red;

}
.spandata{
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 1.5rem;
}
.content-body>.spandata>.data2{
    opacity: 0;

    width: 100%;
    margin:0 auto;
    font-size: large;
    height: 20%;
}
input[type="tel"]{
    text-align: center;
}
.content-body>.input::placeholder{
    font:xx-large;
    letter-spacing:0.5rem;
    font-weight: 500;
    text-align: center;
} 

 @media screen and (max-width:576px){
    .content-body>.input{
        width: 300px;
        background-color: white;
        padding-top: 0%;
        border-radius: 10px;
        height: 3rem;
        font-size: large;
        text-align: center;
    }
    .content-body{
        text-align: center;
    }
    .content-body>.input::placeholder{
        font-size: medium ;
        letter-spacing:0.2rem;
        font-weight: 500;
        text-align: center;
        padding-top:0%;
    } 
    .column{
        padding-top: 200px;
        width: 100%;
        margin-left:0%;
    }
}
@media screen  and   (min-width:577px ) and (max-width:996px ){
    .column{
        padding-top: 200px;
        width: 100%;
        margin-left: 10px;
    }
    .content-body>.input::placeholder{
        font-size:1.5rem;
        letter-spacing:0.5rem;
        font-weight: 500;
        text-align: center;
    }
    .content-body>.input{
        height: 4rem;
    }
    
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 3%;
}