.reset-pin-container{
    padding-top: 150px;
    width: 35%;
    margin: 0 auto;

}

.reset-pin-heading{
    color: red;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    margin: 0 auto;
    text-decoration: 2px underline double;
}
.reset-password-container{
    padding-top: 8%;
}
.reset-password-container>label{
    color: gold;
    font-size: large;
    font-weight: 500;
    padding-bottom: 3%;
}
.reset-password-container>.reset-password{
    width: 100%;
    background-color: white;
    border-radius: 0%;
    height: 3rem;
    border: none;
    outline: none;
    font-size: xx-large;
}
.reset-password-pin-button{
    padding-top: 10%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
@media screen and (min-width:790px) and (max-width:1125px) {
    .reset-pin-container{
        width: 50%;
    
    }
   
}
@media screen and (min-width:577px) and (max-width:789px) {
    .reset-pin-container{
        width: 70%;
    
    }
}
@media screen and (max-width:576px) {
    .reset-pin-container{
        padding-top: 45%;
        width: 80%;
        margin: 0 auto;
    
    }
    .reset-pin-heading{
        color: red;
        font-size: 30px;
        font-weight: 800;
        width: 100%;
        margin: 0 auto;
        text-decoration: 2px underline double;
    }
}
